@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
h3 {
  font-size: 1.4rem;
}
h4 {
  font-size: 1.2rem;
}
h3,
h4 {
  text-align: center;
  padding: 10px;
  font-family: "Press Start 2P", cursive;
}
#cardSection {
  border: 2px solid orange;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  margin-top: 5em;
}

.scene {
  width: 150px;
  height: 150px;
  margin: 10px 0;
  perspective: 600px;
}
.card-cell {
  border: 2px solid green;
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
}
.card-cell.flip {
  transform: rotateY(180deg);
}
.card__face {
  position: absolute;
  text-align: center;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
}
.card__face--back {
  transform: rotateY(180deg);
}
