@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300,500;0,600;0,700;1,600&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
}
body {
  background-color: rgb(255, 153, 0);
  height: 100vh;
}
#findLine {
  margin-top: 2em;
  margin-bottom: 1em;
  font-style: italic;
  font-size: 1.5rem;
  text-align: center;
  padding: 0.5em;
}
.moveRestart {
  display: flex;
  justify-content: center;
}
button {
  font-size: 1.1rem;
  width: 150px;
  height: 40px;
  margin-left: 1em;
  position: relative;
  bottom: 0.3em;
  text-transform: uppercase;
  border: none;
  border-radius: 5px;
  letter-spacing: 1px;
}
#cardSection {
  margin: auto;
  width: 100%;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  perspective: 1000px;
  padding-top: 2em;
  padding-bottom: 3em;
}

.scene {
  width: calc(25% - 10px);
  height: calc(33.333% - 10px);
  margin: 5px;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform 0.5s;
}
.card-cell {
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
}
.card-cell.flip {
  transform: rotateY(180deg);
}
.card__face {
  width: 100%;
  height: 100%;
  padding: 0;
  position: absolute;
  border-radius: 5px;
  backface-visibility: hidden;
}
.card__face--back {
  transform: rotateY(180deg);
}
@media only screen and (min-width: 568px) {
  #cardSection {
    width: 640px;
    height: 450px;
  }
  button {
    margin-left: 2em;
    width: 180px;
    height: 50px;
    bottom: 0.5em;
  }
}
@media only screen and (min-width: 968px) {
  #cardSection {
    height: 550px;
  }
}
